{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}

  <section class="container news-section">
    <div class="row">
      <div class="col">
        <h1>Novedades</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="w-100" src="{% static 'img/thegoodplace.png' %}" alt="">
      </div>
      <div class="col">
        <h3>Cras tristique magna in velit feugiat</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique magna in velit feugiat, non posuere neque efficitur. Donec ac nibh a nisl tempor molestie ac et ligula. Sed consequat dolor sem, tempor semper justo bibendum sed...
        </p>
      </div>
    </div>
    <div class="row">
      <div id="app" class="col">
        <h1>${title}</h1>
        <ul>
          <li v-for="artist in {{ artists }}">
            <h4>Artist: ${artist}</h4>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <script>
    new Vue({
      delimiters: ['${', '}'], 
      el: '#app',
      data: {
        title: 'Artistas',
      }
    })
  </script>
{% endblock %}