{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textos</title>
    <link href="https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,700|Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>

    <!-- Navbar container -->
    <header class="header-nav sticky-top">
      <section class="container">
        <div class="row">
          <div class="col">
            <form class="input-group tt-nav-searcher">
              <input class="form-control" type="search" placeholder="Buscar letras, artistas &amp; más">
              <a href="#" class="btn btn-link">
                <i class="fas fa-search"></i>
              </a>
            </form>
          </div>
          <div class="col">
            <a href="#" class="brand-logo">Textos</a>
          </div>
          <div class="col">
            <button class="btn btn-link open-close-searcher">
              <i class="fas fa-search"></i>
            </button>
            <button class="btn btn-link open-close-menu">
              <i class="fas fa-bars"></i>
            </button>
            <button class="btn btn-sm btn-link btn-reg">Registrarse</button>
            <button class="btn btn-sm btn-outline-primary btn-in">Ingresar</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <nav class="tt-nav">
              <a href="#">Novedades</a>
              <a href="#">Comunidad</a>
              <div class="social-links">
                <a href="https://www.facebook.com" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </section>
    </header>

    {% block content %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>
</html>